@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
  font-weight: 600;
  color: white;
  padding: 6px 30px;
  background: $dark-orange;
  border: 2px solid $dark-orange;
  border-radius: 1em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 10rem;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);

  &:hover {
    background: $light-orange;
    color: white;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
    border: 2px solid $light-orange;
  }

  &:active {
    background: $light-orange;
    color: white;
    -webkit-transform: translate(0, 0.75em);
    transform: translate(0, 0.75em);
    border: 2px solid $light-orange;
  }
}
