@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.edit-profile {
  background-size: cover;
  background: linear-gradient(
    180deg,
    $dark-purple,
    $purple,
    $light-orange,
    $dark-orange
  );
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: lighten;
  min-height: 100vh;
  padding: 10rem 0;
}
