@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "sass:color";

.event-list {
  // padding: 1.5rem;
  font-family: "Urbanist", sans-serif;

  &__heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem 3rem;
    color: $profile-purple;
  }
}

.event-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1.5rem;
  margin: 1rem 2rem;
  border-radius: 8px;
  font-family: "Urbanist", sans-serif;

  &__title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  &__info {
    font-size: 0.95rem;
    margin: 0.3rem 0;
    color: #444;
  }
}
