@font-face {
  font-family: "Libre-Baskerville";
  src: url(src/assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf)
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Libre-Baskerville";
  src: url(src/assets/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf)
    format("truetype");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "Libre-Baskerville";
  src: url(src/assets/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf)
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Playfair";
  src: url(src/assets/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf)
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  src: url(src/assets/fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf)
    format("truetype");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "Playfair";
  src: url(src/assets/fonts/Playfair_Display/static/PlayfairDisplay-Italic.ttf)
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Urbanist";
  src: url(src/assets/fonts/Urbanist/static/Urbanist-Regular.ttf)
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url(src/assets/fonts/Urbanist/static/Urbanist-Bold.ttf)
    format("truetype");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "Urbanist";
  src: url(src/assets/fonts/Urbanist/static/Urbanist-Italic.ttf)
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Pacifico";
  src: url(src/assets/fonts/Pacifico/Pacifico-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
