@font-face {
  font-family: "Urbanist";
  src: url(../../assets/fonts/Urbanist/Urbanist-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url(../../assets/fonts/Urbanist/Urbanist-Bold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url(../../assets/fonts/Urbanist/Urbanist-Italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Pacifico";
  src: url(../../assets/fonts/Pacifico/Pacifico-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
