//Whimsy Reads main colors

$orange: #f68458;
$light-orange: #f69772;
$dark-orange: #f96868;
$purple: #edbcf9;
$dark-purple: #da9bf7;
$royal-purple: rgb(141, 32, 141);
$green: #739a66;

//Profile specific colors
$profile-purple: #7d206f;
$profile-nude: #c09797;
$profile-blue: #6173a6;
$profile-purple2: #8d1774;
$white: #ffffff;
