@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "sass:color";

.edit-profile-form {
  max-width: 700px;
  margin: auto 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 8rem;
  font-family: "Urbanist";
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 3rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);

  @include tablet {
    margin: auto;
  }

  &__title {
    text-align: center;
    color: $royal-purple;
  }

  input,
  select,
  textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    font-size: 1rem;
    font-family: inherit;
  }

  textarea {
    min-height: 100px;
    resize: vertical;
  }

  &__error {
    color: red;
    font-size: 0.9rem;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
  }

  &__label {
    font-weight: bold;
    color: $royal-purple;
    margin-top: 0.5rem;
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}
