@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "sass:color";

.body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.club-profile {
  margin: 2rem auto;
  padding-top: 8rem;
  font-family: "Urbanist", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;

  @include tablet {
    max-width: 800px;
  }

  &__logout-button {
    background-color: transparent;
    color: $profile-blue;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;

    &:hover {
      color: $profile-purple;
    }
  }

  &__tabs-container {
    margin: 2rem auto;
    max-width: 95%;
    min-width: 95%;
  }

  &__tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid $profile-purple2;

    button {
      background: none;
      border: none;
      padding: 1rem;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      color: $profile-blue;
      transition: border-color 0.3s ease, color 0.3s ease;
      font-family: "Urbanist", sans-serif;

      &.active {
        color: $profile-purple;
        border-bottom: 3px solid $profile-purple;
      }

      &:hover {
        color: $profile-purple2;
      }
    }
  }

  &__tab-content {
    padding: 2rem 0;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
      ),
      url(../../assets/image/profile_background.png);

    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    border-radius: 0 0 16px 16px;
    color: #333;
  }

  &__tab-label {
    display: inline-block;

    .short {
      display: inline;

      @include tablet {
        display: none;
      }
    }

    .full {
      display: none;

      @include tablet {
        display: inline;
      }
    }
  }
}
