@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "sass:color";

.main {
  background-image: url(src/assets/image/orange-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $orange;
  background-blend-mode: lighten;
  padding: 2rem;
  padding-top: 13rem;

  @include tablet {
    padding-top: 9rem;
  }

  &__slogan {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    max-width: 100%;

    text-align: left;
    font-family: "Urbanist";
    height: 30rem;
    position: relative;

    @include tablet {
      flex-direction: row;
      align-items: center;
      text-align: left;
      max-width: 1000px;
      margin: auto;
    }
  }

  &__text {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
    margin-top: 4rem;

    @include tablet {
      padding-right: 2rem;
      width: 80%;
    }
  }

  &__headline {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    line-height: 1.3;

    @include tablet {
      font-size: 3rem;
    }

    @include desktop {
      font-size: 3.5rem;
    }
  }

  &__subtext {
    font-size: 1.125rem;
    color: white;
    line-height: 1.6;
    font-family: "Urbanist";
    font-style: italic;
    width: 50%;
  }

  &__image {
    width: 14rem;
    position: absolute;
    top: 186px;
    right: -28px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 4rem auto;
    padding: 3rem 2rem;
    background-color: rgba(255, 255, 255, 0.95);
    color: $dark-orange;
    border-radius: 1.5rem;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.05);
    font-family: "Urbanist", serif;
    line-height: 1.8;
    font-size: 1.125rem;
    text-align: left;

    p {
      margin-bottom: 1.5rem;
    }

    strong {
      color: $dark-orange;
    }

    em {
      color: $green;
      font-style: italic;
    }

    @include tablet {
      max-width: 1000px;
    }
  }

  &__description-image {
    width: 25rem;
    max-width: 90%;
    border-radius: 1rem;
  }
}
